body{
    background-color: antiquewhite;
}

.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 780px;
    margin: 0 auto;
}
